<div class="main-reset-pass">
    <form class="form" [formGroup]="form">
        <h1>Reset Password</h1>
        <input type="password" placeholder="Password" formControlName="password">
        <span *ngIf="form.get('password')?.touched && !form.get('password')?.valid"><i>Password is {{errorPassword}}!!!!</i></span>
        <input type="password" placeholder="Confirm Password" formControlName="confPass">
        <span *ngIf="form.get('confPass')?.touched && !form.get('confPass')?.valid"><i>Confirm Password is {{errorPassword}}!!!!</i></span>

        <button [disabled]="!form.valid" (click)="onSubmit()">Reset Password</button>

        
        
    </form>
</div>

