<div class="main-incidence-display">
    <div class="navigation">
        <h6 class="underline">View Incidences</h6>
        <h6><a routerLink="add-incidence">Add Incidences</a></h6>
    </div>
    <div class="display-container">
        <div class="inner-display-container" *ngIf="incidences.length; else noIncidences">
            <div class="each-incidence" *ngFor="let incidence of incidences">
                <img src="{{incidence.image}}"
                    alt="incidence">
                <div class="details">
                    <h6 class="title">{{incidence.title}}</h6>
                    <p>{{incidence.description}}</p>
                </div>
                <div class="last-thing-incidence">
                    <p class="small">{{incidence.date}}</p>
                    <p class="small">{{incidence.contact}}</p>
                    <p class="name">By {{incidence.reportedBy}}</p>
                </div>
            </div>
        </div>
        <ng-template #noIncidences>
            <i>No Incidences Yet!!!</i>
        </ng-template>
    </div>
</div>