<div class="main-educate">
    <div class="main-educate-content">
        <div class="educate-left">
            
        </div>
        <div class="educate-right">
            <div class="chats">
                <div class="each-chat">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita reiciendis et, suscipit
                        adipisci consectetur ex. Facere totam culpa quod magni dolores cum iste velit adipisci sed,
                        magnam ad ea sequi.
                    </p>
                </div>
                <div class="each-chat">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita reiciendis et, suscipit
                        adipisci consectetur ex. Facere totam culpa quod magni dolores cum iste velit adipisci sed,
                        magnam ad ea sequi.
                    </p>
                </div>
                <div class="each-chat">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita reiciendis et, suscipit
                        adipisci consectetur ex. Facere totam culpa quod magni dolores cum iste velit adipisci sed,
                        magnam ad ea sequi.
                    </p>
                </div>
            </div>
            <div class="input">
                <input type="text" placeholder="Type anything">
                <i class='bx bxs-up-arrow-circle'></i>
            </div>

        </div>
    </div>
</div>