<div class="landing-photo">
    <h1>Stay Informed About Kenyas <br>Finance Bill</h1>
</div>
<div class="about">
    <div class="about-section">
        <h3>Understand the finance bill</h3>
        <p>Understanding the finance bill involves learning about the proposed laws that indicate how public fund should be allocated
            managed and utilized withing the government impacting taxation, expenditure, and overall economic policy.
        </p>
    </div>
    <div class="about-section">
        <h3>Report incidents</h3>
        <p>Reporting incidents allows citizens to inform authorities about any irregularities, corruption, or misuse of funds related to finance bills, ensuring transparency and accountability in financial governance
        </p>
    </div>
    <div class="about-section">
        <h3>Participate in polls</h3>
        <p>Participate in polls to share your opinions on various finance-related issues, contributing to a collective understanding of public sentiment and influencing policy decisions.
        </p>
    </div>
</div>
