.landing-photo {
    width: 100%;
    height: 600px;
    background-image: url(../../../images/background.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    box-shadow: inset 0 0 0 2000px rgba(151, 151, 151, 0.452);
}

h1 {
    font-size: 40px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.about {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 15px;
}

.about-section {
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3 {
    font-size: 20px;
    color: var(--black);
    background-color: rgba(255, 255, 255, 0);
}

p {
    font-size: 15px;
    line-height: 1.5;
    color: var(--black);
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0);
}


@media only screen and (max-width: 992px) {
    .landing-photo{
        height: 450px;
    }
    h1 {
        font-size: 25px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

  

    h3 {
       font-size: 18px;
    }

    p {
        font-size: 13px;
    }

}
@media only screen and (max-width: 800px) {
    .landing-photo{
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .landing-photo{
        height: 300px;
    }
    h1 {
        font-size: 20px;
        
    }
}