<div class="main-add-poll">
    <form class="form" [formGroup]="form">
        <h1>Add Poll</h1>
        <input type="text" placeholder="Title" formControlName="question">
        <span *ngIf="form.get('question')?.touched && !form.get('question')?.valid"><i>Question is Required!!!!</i></span>

        <div class="add-options">
            <div class="add-input" formArrayName="choices">
                <div *ngFor="let choices of choices.controls; let i = index">
                    <input type="text" placeholder="Choice" [formControlName]="i" class="option">
                </div>
            </div>
            <button (click)="addChoice()">Add Choice</button>
        </div>


        <button [disabled]="!form.valid" (click)="onSubmit()">Add Poll</button>



    </form>
</div>