<div class="main-one-poll">
    <div class="one-poll-container" *ngIf="specificPoll$ | async as specificPoll; else loading">
        <h3>{{ specificPoll.question }}</h3>
        <form class="options" >
            <label *ngFor="let choice of specificPoll.choices">
                <input type="radio" name="option" (click)="onSubmit(choice.id)" />
                {{ choice.choice }}
            </label>
            <!-- <button>Vote</button> -->
        </form>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</div>
