<div class="main-polls">
    <div class="add-poll">
        <button><a routerLink="add-poll">Add Poll</a></button>
    </div>
    <div class="all-polls" *ngIf="polls.length ;else noPolls">
        <div class="each-poll" *ngFor="let poll of polls" >
            <h3>{{poll.title}}</h3>
            <p> Posted on {{poll.date}}</p>
            <div class="last-part-poll">
                <p>{{poll.votes}} people voted</p>
                <i class='bx bxs-alarm-add' routerLink="{{poll.id}}" ></i>
            </div>
        </div>
    </div>


    <ng-template #noPolls><i>Polls not available!!!</i></ng-template>