<div class="main-incidence-display">
    <div class="navigation">
        <h6 class="underline">View Incidences</h6>
        <h6><a routerLink="add-incidence">Add Incidences</a></h6>
    </div>
    <div class="display-container">
        <div class="inner-display-container" *ngIf="(incidents$ |async); else noIncidences">
            <div class="each-incidence" *ngFor="let incident of incidents$ |async">
                <img src="{{incident.image}}"
                    alt="incidence">
                <div class="details">
                    <h6 class="title">{{incident.title}}</h6>
                    <p>{{incident.description}}</p>
                </div>
                <div class="last-thing-incidence">
                    <p class="small">{{incident.date}}</p>
                    <p class="small">{{incident.contact}}</p>
                    <p class="name">By {{incident.reportedBy}}</p>
                </div>
            </div>
        </div>
        <ng-template #noIncidences>
            <i>No Incidences Yet!!!</i>
        </ng-template>
    </div>
</div>