.main-views {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding-top: 10px;
    background-color: var(--primary-color);
    
}
p{
    cursor: pointer;
    background-color: var(--primary-color);
    padding-left: 35px;
    display: flex;
    align-items: center;
}
a{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--green);
    font-size: 15px;
}