<div class="main-register">
    <form class="form" [formGroup]="form">
        <h1>Sign Up</h1>
        <input type="text" placeholder="Username" formControlName="username">
        <span *ngIf="form.get('username')?.touched && !form.get('username')?.valid"><i>Username is
                requred!!!!</i></span>
        <input type="text" placeholder="Email" formControlName="email">
        <span *ngIf="form.get('email')?.touched && !form.get('email')?.valid"><i>Email is requred!!!!</i></span>
        <input type="password" placeholder="Password" formControlName="password">
        <span *ngIf="form.get('password')?.touched && !form.get('password')?.valid"><i>Password is
                {{errorPassword}}!!!!</i></span>
        <div class="role-div">
            <label class="role" style="color: var(--green); font-weight: 700; ">Register as </label>
            <label class="role">
                <input type="radio" name="role" value="government" formControlName="role"> Government Official
            </label>
            <label class="role">
                <input type="radio" name="role" value="user" formControlName="role"> User
            </label>
        </div>
        <div >
            <p class="redirect"><a routerLink="/terms-and-conditions">Terms and conditions</a></p>
            <label class="terms-conditions"><input type="checkbox">I agree to the terms and conditions</label>
        </div>
        <button [disabled]="!form.valid" (click)="onSubmit()">Sign Up</button>


        <div class="login-redirect">
            <p>Already have an account?</p>
            <a routerLink="/login" class="login">Login</a>
        </div>

    </form>
</div>